.App {
  text-align: left;
  margin-top: 60px;
  margin-left: 50px;
  color: chocolate;
}

body {
  background-color: gainsboro;
}

.biography {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 600;
  color: chocolate;
}

.my-contacts {
  margin-top: 80px;
  font-size: 18px;
  font-weight: 600;
  color: coral;
}

.contact-item {
  display: flex;
  flex-direction: column;
}
